/* Favorites Page Styles */
#favorites {/* 确保页面占满整个视口高度 */
    overflow: hidden;
}

.favHeader {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0; /* 禁止标题区域缩小 */
}

.notifyControl {
    height: 2rem; /* 占据 40% 的视口高度 */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9; /* 可选：背景色 */
    border-bottom: 1px solid #eee; /* 可选：分隔线 */
}

.notButton {
    /* 通知按钮的样式 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#favorites-list {
    flex: 1; /*占据剩 余空间 */
    padding: 1rem;
    overflow-y: auto; /* 允许垂直滚动 */
    height: 65vh; /* 占据 60% 的视口高度 */
    background-color: #fff; /* 可选：背景色 */
}

#favCards{
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
}

#settings{
    padding: 1rem;
}

.setting-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.setting-item label{
    width: 7rem;
}

.setting-item input{
    width: 10rem;
    border: none;
    border-bottom: 1px solid #ccc;
}